<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"      
 "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">
<!-- 
	namespace:命名空间，用来区分同名的sql。
	id:在同一个文件里面唯一。
	parameterType:参数类型。
	resultType:返回的结果类型。
	#{ename}: ename是Emp的属性(mybatis
	会利用反射机制读取emp对象的属性值)。
	注意：
		如果使用Mapper映射器，namespace
		必须带Mapper接口的完整的名称。
 -->
<mapper namespace="cloudnote.dao.BookDao">
	<select id="findNoteBook" resultType="cloudnote.entity.NoteBook" parameterType="string">
		select * from cn_notebook where cn_user_id=#{id};	
	</select>
	<insert id="createNoteBook" parameterType="cloudnote.entity.NoteBook">
		insert into cn_notebook (cn_notebook_id,cn_user_id,cn_notebook_name,cn_notebook_createtime
		,cn_notebook_type_id)
		values(#{cn_notebook_id},#{cn_user_id},#{cn_notebook_name},#{cn_notebook_createtime},'5');
	</insert>
	<update id="renameNoteBook" parameterType="cloudnote.entity.NoteBook">
		update cn_notebook set cn_notebook_name=#{cn_notebook_name}
		 where cn_notebook_id=#{cn_notebook_id};
	</update>
	<delete id="deleteBook" parameterType="string">
		delete from cn_notebook where cn_notebook_id=#{bookId};
	</delete>
</mapper>